<footer>
  <div class="wrap">
    <div class="foot-grid">
      <div>
        <div class="foot-brand">
          <div class="brand-mark brush">魂</div>
          <div style="color:var(--sun); font-weight:700; font-size:15px; line-height:1.4;">元八王子東小学校<br>おやじの会</div>
        </div>
        <p style="font-size:13.5px; color:#9c9375; max-width:32ch;">黄色い法被を着て、子供と一緒に何が出来る？を合言葉に、2009年から活動しています。</p>
      </div>
      <div>
        <h5>ページ</h5>
        <ul>
          <li><a href="index.html">ホーム</a></li>
          <li><a href="index.html#gallery">活動記録</a></li>
          <li><a href="archives.html">アーカイブ</a></li>
          <li><a href="blog.html">ブログ</a></li>
          <li><a href="members.html">メンバー一覧</a></li>
        </ul>
      </div>
      <div>
        <h5>会員向け</h5>
        <ul>
          <li><a href="login.html">ログイン / 新規登録</a></li>
          <li><a href="mypage.html">マイページ</a></li>
          <li><a href="admin.html">管理者ページ</a></li>
        </ul>
      </div>
      <div>
        <h5>お問合せ</h5>
        <ul>
          <li>元八王子東小学校区</li>
          <li>PTA共催窓口</li>
          <li><a href="contact.html">お問い合わせフォーム →</a></li>
          <li><a href="mailto:oyaji.motohigashihachioji@gmail.com">oyaji.motohigashihachioji@gmail.com</a></li>
        </ul>
      </div>
    </div>
    <div class="foot-visitors" id="visitorCountBox" style="display:none;">
      これまでの訪問者数: <b id="visitorCountNum">-</b> 人
    </div>
    <div class="foot-bottom">
      <span>Copyright (C) 2009 TeamOYAJI. All Rights Reserved.</span>
    </div>
  </div>
</footer>
